@model HamburgerciProject.Application.Models.DTOs.RegisterDTO
<h2 class="fs-1 text-white">SIGN UP</h2>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.UserName" class="control-label"></label>
                <input asp-for="@Model.UserName" class="form-control" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Password" class="form-label">Şifre:</label>
                <input asp-for="@Model.Password" class="form-control">
                <span asp-validation-for="@Model.Password" class="text-white"></span>
                <br />
              
            </div>
            <div class="form-group">
                <label asp-for="@Model.ConfirmedPassword" class="form-label">Şifre Tekrar:</label>
                <input asp-for="@Model.ConfirmedPassword" class="form-control">
                <span asp-validation-for="@Model.ConfirmedPassword" class="text-white"></span>
                </div>
           <div class="text-white" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <button style="color:bisque">
                    <a style="text-decoration:none; color:black">Kayıt Ol</a>
                </button>
            </div>
        </form>
    </div>
</div>
